@import "node_modules/normalize.css/normalize";
@import "../lib/ceyd-core";
@import "../lib/ceyd-media-queries";
@import "../lib/ceyd-theme";
@import "../lib/functions";

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

$default-text-color: #222;
$default-border-color: #ccc;
$light-border-color: #eee;

$main-color: #c57de2;

$trapped-background-color: #222;
$trapped-border-color: #000;
$trapped-text-color: #ddd;

@import "Layout/layout";
@import "Layout/sidebar";
@import "Layout/strate";
@import "Layout/text";
@import "Layout/pagination";
@import "Layout/hit";
@import "Layout/button";
@import "Layout/sequence-preview";
@import "Layout/action-bar";
@import "Layout/dropdown";
@import "Form/blast-uploader";
