@include component(layout) {

  display: flex;
  height: 100%;

  @include child(sidebar) {
    flex: 0 0 15rem;
  }

  @include child(content) {
    min-width: 0;
    max-height: 100%;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}
