@include component(blast-uploader) {

  @include child(dropzone) {

    min-height: 10rem;
    padding: 1rem;
    box-shadow: shadow-border(all, $default-border-color);
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include child(image) {
  }

  @include child(text) {

  }
}
