<div class="hit_header" ng-click="opened = !opened">
    <p class="text">
        {{ hit.species[0] }}
    </p>
</div>
<div ng-show="opened">
    <div class="hit_section">
        <p class="text --emphasis">Species</p>
        <p ng-repeat="specy in hit.species" class="text">
            - {{ specy }}
        </p>
        <p class="text --small">
            {{ hit.definition }}
        </p>
    </div>

    <div class="hit_section">
        <p class="text --emphasis">Identity</p>
        <p class="text">
            {{ hit.identity }}
        </p>
    </div>

    <div class="hit_section">
        <p class="text --emphasis">Accession</p>
        <a href="https://www.ncbi.nlm.nih.gov/protein/{{ hit.accession }}" target="_blank" class="text">
            {{ hit.accession }}
        </a>
    </div>

    <div class="hit_section" ng-show="hit.matchedSequence">
        <p class="text --emphasis">Matched sequence</p>
        <p class="text">
            {{ hit.matchedSequence }}
        </p>
        <sequence-preview sequence="hit.hsp.hitSequence" match="hit.matchedSequence"></sequence-preview>
    </div>
</div>
