{% extends "@App/layout.html.twig" %}

{% block body %}

    <div class="container">

        <h1>
            Hello ! :D
        </h1>

        <ul>
            <li>
                <a href="{{ url('extract_pattern') }}">
                    Extract pattern
                </a>
            </li>
        </ul>
    </div>

{% endblock %}
